<div class="container">
    <h2>Nova Nota</h2>
    <form [formGroup]="adicionarNotaForm" (ngSubmit)="adicionarNota()">
        <div>
            <label for="nota-title">
                Titulo:
                <input type="text" id="nota-title" formControlName="title">
            </label>
        </div>
        <div>
            <label for="nota-text">
                Texto:
                <input type="text" id="nota-text" formControlName="text">
            </label>
        </div>
        <button class="button" type="submit" [disabled]="!adicionarNotaForm.valid" routerLink="">Adicionar Nota</button>
    </form>
</div>
